.switchContainer {
    display: flex;
    width: calc(100% - 240px);
    padding-top: 24px;
}

.option {
    margin: 0;
    padding-bottom: 11px;
    color: #7B7B7B;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    border: 0;
    background: transparent;
    cursor: pointer;
    transition: 0.3s;
}

.option:hover {
    opacity: 0.7;
}

.optionActive {
    color: #2C2A29;
    border-bottom: 3px solid #003C96;
}

.dataContainer {
    border: 1px solid red;
    padding: 32px 40px 24px;
    flex-shrink: 0;
    border-radius: 20px;
    background: var(--white, #FFF);
    display: flex;
    flex-direction: column;
}

.searchContainer {
    width: 100%;
    margin-bottom: 24px;
    height: 60px;
    flex-shrink: 0;
    border-radius: 24px;
    
    border: 1px solid var(--light-grey, #A7A7A7);
}
.search {
    padding: 10px 24px;
    align-items: center;
    border-radius: 24px 0 0 24px;
    border: 0;
    outline: none;
    color: var(--light-grey, #A7A7A7);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.findBtn {
    width: 160px;
    height: 60px;
    padding: 18px 51px 18px 49px;
    align-items: center;
    border-radius: 24px;
    border: 0;
    background: var(--blue, #003C96);
    color: var(--white, #FFF);
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    line-height: normal;
}

.optionsContainer {
    margin-bottom: 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 18px;
}
