.header {
    margin: 0;
    padding: 160px 0 24px;
}
.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.buttonSubmit {
    background-color: rgba(66, 133, 244, 1);
    width: 396px;
    height: 45px;
    border-radius: 35px;
    color: rgba(255, 255, 255, 1);
    cursor: pointer;
    opacity: 1;
    transition: 0.4s;
    border: none;
}
.formError {
    color: #FF004C;
    text-align: center;
    font-size: 11px;
    font-weight: 400;
    line-height: normal;
    padding-top: 59px;
    padding-bottom: 20px;
}
.buttonSubmit:hover:not(.buttonSubmitDisabled) {
    opacity: 0.8;
}
.buttonSubmitDisabled {
    background-color: rgba(66, 133, 244, .1);
    pointer-events: none;
    position: relative;
} 
.buttonIndent {
    margin-top: 158px;
}
.btnContainer {
    display: flex;
    justify-content: center;
    gap: 6px;
    padding-top: 16px;
}
.btnAsk {
    color: rgba(139, 139, 139, 1);
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
}
.btnLink {
    color: rgba(66, 133, 244, 1);
    text-decoration: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
}