@import url(./vendor/fonts/fonts.css);
@import url(./vendor/normalize.css);


html {
  scroll-behavior: smooth;
}
body {
  background: #F5F6FA;
  font-family: 'HelveticaNeueCyr', "Inter", "Arial", sans-serif;
  font-style: normal;
}
