.calendar {
    position: relative;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: auto;
    width: 285px;    /* min-width: 50%; */

    

}
.input {
    width: 270px;
    font-size: 16px;
    font-weight: 300;
    border-radius: 4px;
    height: 34px;
    margin: 0;
    padding: 9px 0 9px 14px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    border: 1px solid rgba(167, 167, 167, .7);
}
/* .input {
    border: 2px solid rgba(24, 118, 210, 1);
} */

.arrow {
    width: 24px;
    height: 24px;
}