.calendar {
    position: relative;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: auto;
    width: 285px;    /* min-width: 50%; */

    

}
.input {
    width: 270px;
    font-size: 16px;
    font-weight: 300;
    border-radius: 4px;
    height: 30px;
    margin: 0;
    padding: 11px 0 8px 15px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    border: 1px solid rgba(167, 167, 167, .7);
}
/* .input {
    border: 2px solid rgba(24, 118, 210, 1);
} */

.arrowButton {
    width: 28px;
    height: 28px;
    position: absolute;
    top: 14px;
    right: 8px;
    border-radius: 50%;
    padding: 0;
    margin: 0;
    border: none;
    background-color: transparent;
    align-items: center;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
.arrowButton:hover {
    background-color: rgba(0, 0, 0, 0.04);
    transition: background-color .2s ease-in-out; 
}
.arrow {
    width: 28px;
    height: 28px;
    color: rgba(0, 0, 0, 0.54);

}
/* .arrow:hover {
    background-color: rgba(0, 0, 0, 0.04);
    transition: background-color .2s ease-in-out;
} */