/* .custom-select-container {
    width: 100% !important;
    margin: 21px 0 !important;
    border: none;
    border-radius: 8px !important;
    position: relative !important;

}
.custom-select__control {
    border-radius: 8px !important;
    border: 1px solid rgba(64, 64, 64, 1) !important;
}
.custom-select__value-container  {
    width: 366px !important;
    outline: none !important;
    border-radius: 8px !important;
    padding: 15px !important;

    margin: 0 !important;
}
.custom-select__indicators  {
}
.custom-select__indicator-separator {
    display: none !important;
}
.custom-select__input-container {
    margin: 0 !important;
    padding: 0 !important;
}
.custom-select__control--is-focused .custom-select__placeholder {
    left: -3px !important;
    top: -20px !important;
    font-weight: 400 !important;
    font-size: 15px !important;
    line-height: 12px !important;
    color: rgb(233, 14, 14) !important;
    transition: 0.3s !important;
    z-index: 1000 !important;
    display: block !important;
}
.custom-select__single-value {
    font-weight: 500 !important;
    line-height: 16px !important;
    margin: 0 !important;
    padding: 0 !important;
}
.custom-select__placeholder {
    position: absolute !important;
    left: -3px !important;
    top: 3px !important;
    z-index: 1 !important;
    transition: 0.3s !important;
    pointer-events: none !important;
    
}
.custom-select__menu  {

}
.custom-select__menu-list  {

}
.custom-select__option  {

} */
.ant-select { 
    width: 100%;
    height: 45px;
    margin: 21px 0; 
    border-radius: 8px;
    border: 1px solid rgba(64, 64, 64, 1);
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
}
.ant-select:hover { 
    border: 1px solid rgba(108, 84, 246, 1);

}
.ant-select-open:focus { 
    border: 1px solid rgba(108, 84, 246, 1);
}
:where(.css-dev-only-do-not-override-pr0fja).ant-select:not(.ant-select-customize-input) .ant-select-selector {
    border: none;
}
:where(.css-dev-only-do-not-override-pr0fja).ant-select-single .ant-select-selector {
    border-radius: 8px;
}
/* .ant-select-open {
    border: none;
} */
.ant-select-selector {

}
.ant-select-selection-item {
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
}
